@import url(https://fonts.googleapis.com/css?family=Montserrat:900);

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
}

body > h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    margin: 20px 0;
}

.wrapper {
    margin-top: 5%;
    padding: 0 5% 0 5%;
}

.title {
    font-family: Montserrat;
    font-size: 1.3rem;
    float: left;
    padding: 10px 20px;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(162, 237, 86, 1) 20%, rgba(253, 220, 50, 1) 100%);
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    transform: translate(-20px, -20px);
}

.definition {
    display: block;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
}

section {
    padding-bottom: 50px;
}

.separator {
    font-family: Montserrat;
    font-size: 2rem;
    color: black;
    border-bottom: 2px solid #ddd;
}

.item {
    margin: 50px 30px;
}

.anchors {
    padding: 10px 30px;
    
}

.anchors ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.4rem;
}

.anchors ul li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchors ul li > a {
    color: #555 !important;
    text-decoration: none;
    padding: 5px 10px;
    display:inline-block;
    text-align: center;
    width:100%;
    line-height: 40px;
    transition: all 0.1s ease-out;
}


.anchors ul li > a:hover {
    background: #e7e7e7;
}


.anchors ul li > a.active{
    background: #e7e7e7;
}

section a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    box-shadow: 0 20px 35px -26px rgba(0,0,0,0.2);
}


header img {
    height: auto;
    width: 60px;
}


